.container {
  position: relative;
}

.title {
  /* Styles for the Title component */
}

.stackDesktop {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.stackMobile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  width: 100%;
}
